<!DOCTYPE html>
<html>
  <head>
    <title>Web Form Example</title>
  </head>
  <body>
    <h1>Submit Item</h1>
    <form id="submit-form" method="post" action="/seller">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price"><br><br>
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea><br><br>
      <label for="seller">Seller:</label>
      <input type="text" id="seller" name="seller"><br><br>
      <label for="image">Image:</label>
      <input type="file" id="image" name="image"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>