<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sell an Item</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/seller-form">Sell an Item</a>
      </nav>
    </header>
    <main>
      <h1>Sell an Item</h1>
      <form action="/seller-form" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price"><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br><br>
        <label for="seller">Seller:</label>
        <input type="text" id="seller" name="seller"><br><br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br><br>
        <input type="submit" value="Submit">
      </form>
      
    </main>
  </body>
</html>



